// Font
$mainFont                : 'Open-sans', Helvetica, Arial, sans-serif;
// color
$white                   : #fff;
$black                   : #000;
$gray                    : #363636;
$red                     : red;

// Size
$mainFontSize            : 14px;
$linkSize                : 16px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

$wrapperWidth            : 1520px;
$siteWidth               : 1280px;
$lgDesktopWidth          : 1360px;
$desktopWidth            : 1280px;
$smDesktopWidth          : 1023px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Main color
$default-color           : #ffffff;
$primary-color           : #444ce0;
$success-color           : #26de81;
$danger-color            : #fc5c65;
$warning-color           : #fed330;
$light-color             : #999999;
$purple-color            : #8854d0;

// Neutral Color
$neutral-primary         : #303133;
$neutral-regular         : #606266;
$neutral-secondary       : #909399;
$neutral-placeholder     : #C0C4CC;

// Border Color
$border-base             : #DCDFE6;
$border-light            : #E4E7ED;
$border-lighter          : #EBEEF5;
$border-lightex          : #F2F6FC;