@import "../utils/libs";
@import "../utils/vars";
@import "../utils/mixins";

.header-wrapper {
  background: #F3F3F3;

  .header-body {
    width: 100%;
    @include flexBetween();
    padding: 20px 0 23px 0;
    margin: 0 auto;

    .header_left-part {
      width: 560px;
      @include flexBetween();

      .phone_number-wrapper {
        width: 290px;
        @include flexBetween();

        .tel-block {
          display: flex;
          flex-direction: column;
          padding-left: 35px;

          .number-link {
            font-weight: 700;
            position: relative;
          }

          .mts-icon:after {
            content: '';
            position: absolute;
            left: -52px;
            top: 0;
            width: 18px;
            height: 18px;
            background: url(../../build/img/viber_logo.svg) no-repeat center;
          }

          .mts-icon:before {
            content: '';
            position: absolute;
            left: -28px;
            top: 0;
            width: 18px;
            height: 18px;
            background: url(../../build/img/mts_logo.svg) no-repeat center;
          }

          .velcom-icon:before {
            content: '';
            position: absolute;
            left: -28px;
            top: 0;
            width: 18px;
            height: 18px;
            background: url(../../build/img/velcom_logo.svg) no-repeat center;
          }
        }

        .time_work-block {
          text-align: center;
          line-height: 20px;
        }

        .time_work-part {
          display: block;
        }
      }
    }

    .header_right-part {
      width: 595px;
      @include flexBetween();

      .header-link {
        font-size: rem(14);
        padding-left: 15px;
        position: relative;
      }

      .logIn-link:before {
        content: '';
        position: absolute;
        width: 18px;
        height: 18px;
        left: -10px;
        top: -3px;
        background: url(../../build/img/user-silhouette.svg) no-repeat center;
      }

      .box-link:before {
        content: '';
        position: absolute;
        width: 18px;
        height: 18px;
        left: -10px;
        top: -3px;
        background: url(../../build/img/shopping-purse-icon.svg) no-repeat center;
      }

      .call-link {
        @include flexible();
        width: 180px;
        height: 40px;
        border: 1px solid $yellow;
        border-radius: 36px;
        font-size: rem(12);

        &:before {
          content: '';
          position: absolute;
          left: 15px;
          top: 10px;
          width: 18px;
          height: 18px;
          background: url(../../build/img/call-answer.svg) no-repeat center;
        }

        &:hover::before {
          animation: 1.2s ease-in-out 0s normal none infinite running trambling-animation;
        }
        @keyframes trambling-animation {
          0%, 50%, 100% {
            transform: rotate(0deg);
          }
          10%, 30% {
            transform: rotate(-10deg);
          }
          20%, 40% {
            transform: rotate(10deg);
          }
        }
      }

      .header_link-wrapper {
        width: 280px;
        @include flexBetween();
        padding-left: 20px;

      }

      .box-amount {
        font-weight: 700;
      }
    }
  }
}