@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";

* {
  box-sizing: border-box;
  margin: 0;
}

*:focus {
  outline: none;
}

a {
  outline: none;
  text-decoration: none;
  color: $gray;
  cursor: pointer;
  font-size: $linkSize;
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background: transparent;
  cursor: pointer;
}

a:active,
button:active {
  transform: translateY(1px);
  filter: saturate(150%);
}

html,
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-size: $mainFontSize;
  max-width: $wrapperWidth;
  margin: 0 auto;
  color: $gray;
  background: $default-color;
  @media screen and (max-width: $desktopWidth) {
    font-size: 16px;
  }
  @media screen and (max-width: $tableWidth) {
    font-size: 15px;
  }
  @media screen and (max-width: $phoneWidth) {
    font-size: 14px;
  }
}

@import "blocks/header";
.site-wrapper {
  width: $siteWidth;
  margin: 0 auto;
  height: 100%;
}

//main
.top_menu-wrapper {
  width: 100%;
  height: 60px;
  background: $gray;

  .top_menu-body {
    width: 100%;
    height: 100%;
    @include flexBetween();
    margin: 0 auto;

    .main_nav-wrapper {
      height: 100%;

      .main_nav-body {
        width: 830px;
        height: 100%;
        @include flexBetween();

        .nav-item {
          height: 100%;
          position: relative;

          &:hover .drop-menu {
            transform: translateY(0);
            visibility: visible;
            opacity: 1;
            transition: 0.3s;

          }

          .nav-link {
            display: flex;
            align-items: center;
            font-weight: 700;
            font-size: inherit;
            color: $white;
            height: 100%;
          }

          .drop-menu {
            width: 145px;
            line-height: 23px;
            text-align: center;
            background: $gray;
            position: absolute;
            border-top: 1px solid $yellow;
            z-index: 1;
            transform: translateY(-220px);
            visibility: hidden;
            transition: 0.3s;
            opacity: 0;

            .drop_menu-item {

              .drop_menu--link {
                color: $white;
                padding: 10px 5px;
                display: block;
                font-size: inherit;

                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }

        .nav_arrow_icon {

          &:hover::after {
            transform: rotate(180deg);
            transition: 0.3s;
          }

          &:after {
            content: '';
            position: absolute;
            right: -20px;
            top: 30px;
            width: 10px;
            height: 5px;
            background: url(../../build/img/nav_arrow.svg) no-repeat center;
            transition: 0.3s;
          }
        }
      }
    }

    .search-wrapper {
      display: flex;
      width: 230px;
      height: 40px;

      .search-input {
        width: 190px;
        height: 100%;
        background: $gray;
        padding-left: 15px;
        color: $white;
        border: 1px solid $gray-light;

        &:focus {
          border-color: $primary-color;
        }
      }

      .search-button {
        width: 40px;
        height: 100%;
        background: $gray;
        border: 1px solid $gray-light;
        border-left: none;
      }
    }
  }
}

.catalog-wrapper {
  width: 100%;
  height: 474px;
  background: url(../../build/img/postelnoe.jpg) no-repeat center;
  background-size: 100% auto;

  .catalog-body {
    height: 100%;
    width: 100%;
    background: #36363676;

    .catalog-content {
      width: 100%;
      height: 95%;
      @include flexible ();
      flex-direction: column;

      .catalog_title_h1-wrapper {
        margin-bottom: 25px;

      }

      .catalog_title_h3-wrapper {
        margin-bottom: 50px;
      }

      .catalog-button {
        @include flexible ();
        @include title($white, rem(14), 400);
        width: 160px;
        height: 40px;
        border-radius: 36px;
        border: 1px solid $white;
        position: relative;
        padding-right: 35px;

        &:after {
          content: '';
          width: 24px;
          height: 24px;
          position: absolute;
          right: 6px;
          top: 6px;
          background: url(../../build/img/catalog_arrow.svg) no-repeat center;
          transition: 1s;
        }

        &:hover::after {
          transform: rotate(360deg);
          transition: 1s;
        }
      }
    }
  }
}

.customer-wrapper {
  width: 100%;
  background: #F3F3F3;

  .customer-body {
    width: 100%;
    @include flexBetween();
    margin: 0 auto;

    .customer-block {
      width: 200px;
      @include flexible();
      flex-direction: column;
      padding-top: 30px;
      padding-bottom: 50px;
      text-align: center;

      .customer_image-wrapper {
        width: 80px;
        height: 80px;
        @include flexible();
        border: 1px solid #5FC44B;
        border-radius: 50%;
        margin-bottom: 20px;
      }

      .customer-title {
        @include title($gray, rem(16), 700);
        margin-bottom: 15px;
      }

      .customer-info {
        line-height: 17px;
      }
    }
  }
}

.product-wrapper {

  .product-tabs {
    width: 590px;
    @include flexBetween();
    margin: 0 auto;
    padding-top: 55px;
    padding-bottom: 30px;

    .product-tabs-link {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 200px;
      @include title($gray, rem(20), 700);
      padding-bottom: 15px;
      position: relative;

      &:after {
        display: block;
        content: "";
        background: $yellow;
        height: 4px;
        width: 0;
        left: 50%;
        bottom: 0;
        position: absolute;
        transition: width .3s ease-in-out;
        transform: translateX(-50%);
      }

      &:hover:after,
      &:focus:after {
        width: 100%;
      }
    }

    .product-tabs-active {
      position: relative;

      &:after {
        content: "";
        display: block;
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 100%;
        height: 4px;
        background: $yellow;
        transition: width 0.3s ease-out;
        transform: translateX(-50%);
      }

      //border-bottom: 4px solid $yellow;
    }
  }
}

.product-body {
  width: 100%;
  @include flexBetween();
  flex-wrap: wrap;
  margin: 0 auto;

  .product-block {
    width: 300px;
    //height: 376px;
    border: 1px solid $ease-gray;
    margin-bottom: 25px;

    .product_image-bg {
      width: 100%;
      height: 173px;
      background: url(../../build/img/chehol.png) no-repeat center;
      background-size: 100% auto;

      .cart_info-block {
        padding-top: 20px;

        .cart_action-block {
          font-family: Montserrat, sans-serif;
          @include flexible();
          font-weight: 400;
          color: $white;
          width: 70px;
          height: 30px;
          background: $cart-price;
        }

        .cart_new-block {
          font-family: Montserrat, sans-serif;
          @include flexible();
          font-weight: 400;
          color: $white;
          width: 70px;
          height: 30px;
          background: $cart-new;
          margin-top: 10px;
        }
      }
    }

    .product-caption {
      text-align: center;
      padding: 20px;

      .caption-title {
        margin-bottom: 10px;
        line-height: 20px;
      }

      .product-price {
        width: 70px;
        display: flex;
        flex-direction: column;
        font-weight: 700;
        margin: 0 auto;
        margin-bottom: 20px;

        .old-price {
          font-size: rem(12);
          color: $ease-gray;
          position: relative;

          &:before {
            content: '';
            position: absolute;
            top: 6px;
            left: 5px;
            width: 60px;
            height: 1px;
            background: $ease-gray;
          }
        }

        .new-price {
          font-size: rem(16);
        }
      }

      .product_button-wrapper {
        margin-bottom: 20px;

        .product-button {
          width: 160px;
          height: 40px;
          border: none;
          @include title($gray, rem(12), 700);
          background: $yellow;
          border-radius: 36px;
          position: relative;
          padding-right: 30px;

          &:hover::after {
            transform: rotate(360deg);
            transition: 1s;
          }

          &:after {
            content: '';
            position: absolute;
            top: 5px;
            right: 6px;
            width: 29px;
            height: 29px;
            background: url(../img/cart_arrow.svg) no-repeat center;
            transition: 1s;
          }
        }
      }
    }
  }
}

.magazine-wrapper {

  .magazine-body {
    width: 100%;
    @include flexBetween();
    margin: 0 auto;
    margin-top: 27px;

    .hover_linen-block {
      overflow: hidden;
      .linen-block {
        width: 450px;
        height: 474px;
        background: url(../../build/img/postelnoe.jpg) no-repeat center;
        background-size: cover;
        transition: all 1s ease-out;

        &:hover {
          transform: scale(1.1);
        }

        .magazine-bg {
          height: 100%;
          width: 100%;
          @include flexible();
          background: #36363676;

          .magazine-content {
            width: 150px;
            height: 85px;
            text-align: center;
            position: relative;

            &:hover::after {
              transform: rotate(360deg);
              transition: 1s;
            }

            &:after {
              content: '';
              position: absolute;
              width: 24px;
              height: 24px;
              bottom: 0;
              left: 65px;
              background: url(../../build/img/catalog_arrow.svg);
              transition: 1s;
            }

            .magazine-title {
              font-family: Montserrat, sans-serif;
              @include title($white, rem(20), 700);
              margin-bottom: 15px;

            }
          }
        }
      }

    }

    .remain-block {
      width: 815px;
      @include flexBetween();
      flex-wrap: wrap;

      .hover_remain-block {
        overflow: hidden;
        margin-bottom: 15px;

        .sofa-block {
          width: 400px;
          height: 237px;
          background: url(../../build/img/divandeki.jpg) no-repeat center;
          background-size: cover;
          transition: all 1s ease-out;

          &:hover {
            transform: scale(1.1);
          }
        }

        .plaid-block {
          width: 400px;
          height: 237px;
          background: url(../../build/img/pled.jpg) no-repeat center;
          background-size: cover;
          transition: all 1s ease-out;

          &:hover {
            transform: scale(1.1);
          }
        }

        .cover-block {
          width: 400px;
          height: 222px;
          background: url(../../build/img/pokryvala.jpg) no-repeat center;
          background-size: cover;
          transition: all 1s ease-out;

          &:hover {
            transform: scale(1.1);
          }
        }

        .case-block {
          width: 400px;
          height: 222px;
          background: url(../../build/img/chehly.jpg) no-repeat center;
          background-size: cover;
          transition: all 1s ease-out;

          &:hover {
            transform: scale(1.1);
          }
        }

        &:nth-child(3) {
          margin-bottom: 0;
        }

        &:nth-child(4) {
          margin-bottom: 0;
        }
      }

      .magazine-bg {
        height: 100%;
        width: 100%;
        @include flexible();
        background: #36363676;

        .magazine-content {
          width: 150px;
          height: 65px;
          text-align: center;
          position: relative;

          &:hover::after {
            transform: rotate(360deg);
            transition: 1s;
          }

          &:after {
            content: '';
            position: absolute;
            width: 24px;
            height: 24px;
            bottom: 0;
            left: 64px;
            background: url(../../build/img/catalog_arrow.svg);
            transition: 1s;
          }

          .magazine-title {
            font-family: Montserrat, sans-serif;
            @include title($white, rem(20), 700);
            margin-bottom: 15px;
          }
        }
      }
    }
  }
}

.pay_slider-wrapper {
  .pay_slider-body {
    width: 1105px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
  }
}

/*slider*/
.slider-container {
  position: relative;
  overflow: hidden;
}

.slider__block {
  display: flex;
  transition: transform 0.6s ease;
}

.slider__image-item {
  flex: 0 0 196px;
}

.slider__arrow-control {
  position: absolute;
  top: 65px;
  @include flexible();
  color: $white;
  text-align: center;
  opacity: 0.5;
}

.slider__arrow-control:active {
  transform: inherit;
  filter: inherit;
}

.slider__arrow-control:hover,
.slider__arrow-control:focus {
  color: $white;
  text-decoration: none;
  outline: 0;
  opacity: .9;
}

.slider__arrow-control_left {
  left: 0;
}

.slider__arrow-control_right {
  right: 0;
}

.slider__arrow-control::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.slider__arrow-control_left::before {
  background-image: url(../img/slider_arrow-left.svg);
}

.slider__arrow-control_right::before {
  background-image: url(../img/slider_arrow-right.svg);
}

.mailing-wrapper {
  width: 100%;
  height: 242px;
  background: url(../img/bg-weaving.jpg) no-repeat center;
  background-size: cover;
  margin-top: 45px;

  .mailing-body {
    width: 1180px;
    height: 100%;
    @include flexBetween();
    margin: 0 auto;

    .mailing-title {
      @include title($yellow, rem(32), 700);
      margin-bottom: 10px;
    }

    .mailing-form {
      width: 580px;
      height: 90px;
      @include flexible();
      background: #FFFFFFE0;
      border-radius: 232px;

      .mailing-input {
        width: 256px;
        height: 35px;
        border: none;
        border-bottom: 1px solid $gray-light;
        background-color: transparent;
        margin-left: 15px;
        padding-left: 5px;
      }

      .mailing-button {
        @include title($white, rem(12), 700);
        width: 200px;
        height: 40px;
        border: none;
        background: #5FC44B;
        border-radius: 36px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
        margin-left: 50px;
      }
    }
  }
}

.news-wrapper {
  width: 100%;
  background: #F3F3F3;

  .news-body {
    padding-top: 55px;

    .news-title {
      @include title($gray, rem(20), 700);
      text-align: center;
    }

    .news-content {
      width: 100%;
      @include flexBetween();
      margin: 0 auto;
      margin-top: 30px;
      padding-bottom: 30px;

      .news-block {
        width: 300px;
        height: 350px;
        background: $white;
        padding: 10px;

        .news-link {
          display: block;
          width: 280px;
          height: 164px;
          margin: 0 auto;

          .news-image {
            width: 100%;
            height: 100%;
          }
        }

        .news-caption {
          padding: 20px 10px 15px 10px;

          .news_caption-title {
            font-weight: 700;
            margin-bottom: 10px;
          }

          .news_caption-time {
            color: $ease-gray;
          }

          .news_caption-content {
            margin-top: 7px;
            line-height: 22px;
            font-size: rem(12);
          }
        }
      }
    }

    .all_news-button-wrapper {

      .all_news-link {
        width: 193px;
        height: 40px;
        @include flexible();
        border: 1px solid $gray;
        border-radius: 36px;
        font-size: rem(12);
        margin: 0 auto;
        padding-right: 25px;
        position: relative;

        &:hover::after {
          transform: rotate(360deg);
          transition: 1s;
        }

        &:after {
          content: '';
          position: absolute;
          right: 5px;
          top: 6px;
          width: 24px;
          height: 24px;
          background: url(../img/news_icon.svg) no-repeat center;
          transition: 1s;
        }
      }
    }

    .ceo-wrapper {
      width: 100%;
      margin: 0 auto;
      margin-top: 55px;
      padding-bottom: 60px;

      .ceo-title {
        @include title($gray, rem(20), 700);
        margin-bottom: 20px;
      }

      .ceo-text {
        @include title($gray-light, rem(12), 400);
        line-height: 21px;

        .ceo-text-p {
          margin-bottom: 25px;
        }
      }
    }
  }
}

.title-h1 {
  @include title($white, rem(32), 700);
  margin: 0;
}

.title-h2 {
  @include title($white, rem(22), 700);
}

.title-h3 {
  font-family: Montserrat, sans-serif;
  @include title($white, rem(16), 400);
}

.progress-wrapper {
  width: 100%;
  height: 8px;
  background: #ccc;
  left: 0;
  top: 0;
  right: 0;
  position: fixed;
  z-index: 1;
}

.progress-bar {
  height: 8px;
  background: $yellow;
  width: 0;
}

/*burger_menu*/
.header-mobile {
  display: none;
}

.header-mobile-button-body {
  display: none;
  position: absolute;
  width: 50px;
  height: 29px;
  top: 17px;
  right: 20px;
  z-index: 999;
  cursor: pointer;
  flex-direction: row-reverse;
}

.header-mobile-button-line,
.header-mobile-button-line-active {
  width: 100%;
  border-bottom: 2px solid $white;
  position: absolute;
  top: 10px;
  transition: 0.3s;
}

.header-mobile-button-line-active {
  border-bottom: 2px solid $white;
}

.header-mobile-button-line:nth-child(1) {
  width: 32px;
  top: 0;
}

.header-mobile-button-line:nth-child(2) {
  width: 24px;
  bottom: 0;
}

.header-mobile-button-line:nth-child(3) {
  width: 36px;
  bottom: 14px;
}

.header-mobile-button-line-active:nth-child(1) {
  width: 34px;
  top: 12px;
  left: 0;
  transform: rotate(45deg);
}

.header-mobile-button-line-active:nth-child(2) {
  width: 34px;
  bottom: 15px;
  right: 17px;
  transform: rotate(-45deg);
}

.header-mobile-button-line-active:nth-child(3) {
  bottom: 14px;
  opacity: 0;
}

.header-mobile {
  position: fixed;
  overflow-y: scroll;
  background: #000000c4;
  height: 100vh;
  width: 100%;
  z-index: 997;
  display: none;
  transform: translate(-1100px);
  transition: 0.3s;
}

.header-mobile-active {
  transform: translate(0px);
}

.navigation-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-li {
  margin-bottom: 20px;
}

.preloader {
  @include flexible ();
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: $white;
}

#floatingCirclesG {
  position: relative;
  width: 125px;
  height: 125px;
  margin: auto;
  transform: scale(0.6);
}

.f_circleG {
  position: absolute;
  background: rgb(255, 255, 255);
  height: 22px;
  width: 22px;
  border-radius: 12px;
  animation-name: f_fadeG;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

#frotateG_01 {
  left: 0;
  top: 51px;
  animation-delay: 0.45s;
}

#frotateG_02 {
  left: 15px;
  top: 15px;
  animation-delay: 0.6s;
}

#frotateG_03 {
  left: 51px;
  top: 0;
  animation-delay: 0.75s;
}

#frotateG_04 {
  right: 15px;
  top: 15px;
  animation-delay: 0.9s;
}

#frotateG_05 {
  right: 0;
  top: 51px;
  animation-delay: 1.05s;
}

#frotateG_06 {
  right: 15px;
  bottom: 15px;
  animation-delay: 1.2s;
}

#frotateG_07 {
  left: 51px;
  bottom: 0;
  animation-delay: 1.35s;
}

#frotateG_08 {
  left: 15px;
  bottom: 15px;
  animation-delay: 1.5s;
}

@keyframes f_fadeG {
  0% {
    background: rgb(0, 0, 0);
  }
  100% {
    background: rgb(255, 255, 255);
  }
}

@-o-keyframes f_fadeG {
  0% {
    background: rgb(0, 0, 0);
  }
  100% {
    background: rgb(255, 255, 255);
  }
}

@-ms-keyframes f_fadeG {
  0% {
    background: rgb(0, 0, 0);
  }
  100% {
    background: rgb(255, 255, 255);
  }
}

@-webkit-keyframes f_fadeG {
  0% {
    background: rgb(0, 0, 0);
  }
  100% {
    background: rgb(255, 255, 255);
  }
}

@-moz-keyframes f_fadeG {
  0% {
    background: rgb(0, 0, 0);
  }
  100% {
    background: rgb(255, 255, 255);
  }
}

@import "blocks/footer";

@media all and (max-width: 1200px) {
}

@media all and (max-width: 1023px) {
  .header-mobile-button-body {
    display: flex;
  }
  .header-mobile {
    display: block;
    padding-top: 105px;
  }
}

@media all and (max-width: 768px) {
}

@media all and (max-width: 480px) {
}